body {
  position: relative;
}

.affix {
  z-index: 999;
  top:0;
  width: 100%;
}

.home-hero {
    height:50vh;
    background: url('../img/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    background-attachment: fixed;
}

.home-hero h1, .home-hero p {
    color:#ffffff;
    margin-bottom:20px;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    font-weight: 700;
}

.navbar-brand h1 {
  margin-top: -5px;
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  color: #ffffff;
}

.navbar {
  border-radius: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #55042a;
  border: none;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #7e063e;
    background-color: transparent;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #55042a;
    background-color: #7e063e;
}

.home-hero .btn {
    margin-left: 5px;
    margin-right: 5px;
  }

.btn-primary {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: transparent;
  border-color: #ffffff;
  border-radius: 20px;
}

.btn-primary:hover {
    background: #55042a;
    border-color: #55042a;
    color: #ffffff;
    transition: all .15s ease-out;
}

.about h2 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
}

.about p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.menu {
  padding-bottom: 15px;
}

.menu h2 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
}

.menu p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border: none;
}

.menu .nav {
  border: none;
}

a:focus {
  outline: none;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.nav-tabs>li>a {
    border: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #7e063e;
  }

  a {
      color: #55042a;
  }

  a:hover {
    color: #7e063e;
  }

footer {
  background-color: #eeeeee;
}

footer h2 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
}

footer p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}



@media only screen and (min-width : 992px) {
  .home-hero {
    min-height: 500px;
  }
}

@media only screen and (max-width : 992px) {
  .home-hero {
    min-height: 500px;
    height: 100vh;
  }
}
